*.ini
log.txt
temp/*
*/__pycache__/*
.DS_Store
*.pyc
*.log
*.json
exlogs/*
logs/*
old_logs/*
*logs/*
*.pickle
*.pkl
*.egg-info/*
*/temp/*
**/*.metrics
*.metrics
*.pdf
logs*
stat_logs/*
log*
*.prof
*.urdf
